<!DOCTYPE html>
<html>
    <head>
        <!--Website Title-->
        <title>Project Air - Main</title>

        <!--Import Google Materialize CSS-->
        <link type="text/css" rel="stylesheet" href="./css/materialize.min.css" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="./css/styles.css"/>

        <!--Import fonts-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

        <!--Import icons-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--Importing Javascript-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="./js/materialize.min.js"></script>

        <!--Importing Firebase JS. Using for Auth.-->
        <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>

        <!--Optimizing website for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <!-- Main Content -->
        <% if(deviceName){%>
        <div class="container" id="main-container">
            <div class="col s12 m7">
                <h4 class="header">All Pads</h4>

                <%for (i=0; i<deviceName.length; i++){%>

                <div class="card horizontal hoverable">
                    <div class="card-image valign-wrapper hide-on-small-only">
                        <img class="device-icon" src="<%=devicePicURL[i]%>">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <div class="center-align">
                                <div class="hide-on-med-and-up">
                                    <img class="device-icon" src="<%=devicePicURL[i]%>">
                                </div>
                                <h5><%=deviceName[i]%></h5>
                                <p><%=deviceSerial[i]%></p>
                            </div>
                            <div class="horizontal">
                                <div class="row">
                                    <div class="col s12 l4 center-align"><h5>Charging</h5></div>
                                    <div class="col s12 l4 center-align"><h5>1 hours 32 mins left</h5></div>

                                    <%if(batteryPercentage[i] >= 80){%>
                                    <div class="col s12 l4 center-align"><h5 class="charge-great"><%=batteryPercentage[i]%>%</h5></div>
                                    <%}%>
                                    <%if(batteryPercentage[i] < 80 && batteryPercentage[i] >= 50){%>
                                    <div class="col s12 l4 center-align"><h5 class="charge-good"><%=batteryPercentage[i]%>%</h5></div>
                                    <%}%>
                                    <%if(batteryPercentage[i] < 50 && batteryPercentage[i] >= 20){%>
                                    <div class="col s12 l4 center-align"><h5 class="charge-danger"><%=batteryPercentage[i]%>%</h5></div>
                                    <%}%>
                                    <%if(batteryPercentage[i] < 20){%>
                                    <div class="col s12 l4 center-align"><h5 class="charge-bad"><%=batteryPercentage[i]%>%</h5></div>
                                    <%}%>
                                </div>
                                <div class="center-align" style="width: 100%;">
                                    <button class="wave-effect waves-light red btn" style="margin-bottom: 10px;">stop charging</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%}%>
            </div>
        </div>
        <%}%>

        <%if(!deviceName){%>
        <div class="container" id="main-container"> 
            <h1>Oops you don't have a device yet.</h1>
            <h3>"Add Device" coming soon...</h3>
        </div>
        <%}%>

        <!-- Navigation Bar-->
        <nav class="bg-magenta">
            <div class="nav-wrapper" style="margin-left: 10px; margin-right: 10px">
                <a href="#!" class="brand-logo">Project Air</a>

                <!-- Large-screen navigation menu -->
                <ul class="right hide-on-med-and-down">
                    <li><a href="#!" id="charging_pads" name="charging_pads"><i class="material-icons left">view_module</i>Charging Pads</a></li>

                    <li class="active"><a href="#!"><i class="material-icons left">devices_other</i>Devices</a></li>

                    <li><a href="#!"><i class="material-icons left">account_circle</i>Account Settings</a></li>

                    <li><a href="#!" id="logout_btn" name="logout_btn"><i class="material-icons left">exit_to_app</i>Logout</a></li>
                </ul>

                <!-- Sandwich menu icon -->
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>

        <!-- Small-screen Sandwich bar menu-->
        <ul class="side-nav" id="mobile-demo">
            <li>                    
                <div class="user-view">
                    <div class="background">
                        <img src="./assets/office.jpg">
                    </div>
                    <%if(userName){%>
                    <span class="white-text name"><%-userName%></span>
                    <%}%>
                    <%if(userEmail){%>
                    <span class="white-text email"><%-userEmail%></span>
                    <%}%>
                </div>
            </li>
            <li><a href="#!" id="charging_pads" name="charging_pads"><i class="material-icons">view_module</i>Charging Pads</a></li>
            <li><a href="#!"><i class="material-icons">devices_other</i>Devices</a></li>
            <li><a href="#!"><i class="material-icons">account_circle</i>Account Settings</a></li>
            <li><a href="#!" id="logout_btn" name="logout_btn"><i class="material-icons left pink-text">exit_to_app</i><p class="text-magenta">Logout</p></a></li>
        </ul>


    </body>

    <script>
        $(document).ready(function(){
            $(".button-collapse").sideNav();
            $(logout_btn).on('click', function(){
                firebase.initializeApp(<%-process.env.FIREBASE_CONFIG%>);
                firebase.auth().signOut().then(function() {
                    // Sign-out successful.
                    $.post('/logout', function(){
                        window.location.href = '/loading';
                    });
                }).catch(function(error) {
                    // An error happened.
                    console.log("signout fialed", error);
                });
            });

            $(charging_pads).on('click', function(event){
                event.preventDefault();
                $.get('/load_main', function(){
                    window.location.href = '/loading';
                });
            });
        });
    </script>
</html>